﻿@{
    ViewData["Title"] = "CreateArticle";
}

<div class="text-center">
    <h1 class="display-4">Tell us your story!</h1>
    <form enctype="multipart/form-data" method="post" asp-action="Submit" asp-controller="Article">
        Title:
        <p> <input type="text" autocomplete="off" name="title" size="48" /></p>

        Article:
        <p><textarea rows="20" cols="50" name="article"></textarea></p>

        Author:
        <p><input type="text" autocomplete="off" name="author" size="48"/></p>

        <p><input type="submit" value="Publish"></p>
    </form>
</div>
