﻿@model Article
@{
    ViewData["Title"] = "Article";
}
<div class="text-center">
    <h1>@Model.Title</h1>
    <p>@Model.Content</p>
    <p>Back to <a href="https://localhost:44366/Home">Home page.</a></p>
</div>
