﻿@{
    ViewData["Title"] = "ArticleSubmitted";
}

<div class="text-center">
    <h1 class="display-4">Your story was published!</h1>
    <p>Back to <a href="https://localhost:44366/Home">Home page.</a></p>
</div>
