﻿@{
    ViewData["Title"] = "Blog";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TubroBlog</h1>
    <p>Look through the articles made by Authors:</p>
</div>
<ul>
    @for (int i = 0; i < 10; i++)
    {
        <li>article</li>
    }
</ul>