﻿@{
    ViewData["Title"] = "Home Page";
}
@model TurboBlog.Database.IGeneralContext

<div class="text-center">
    <h1 class="display-4">Welcome to TurboBlog</h1>
    <p>You can <a href="https://localhost:44366/Article/Create">create an article.</a></p>
    <p>Look through the articles made by Authors:</p>
</div>
<ul>
    @foreach (Article art in Model.Articles)
    {
        //<li><a href="https://localhost:44366/Article/CurrentArticle">@art.Title</a></li>

        <button type="button" onclick="location.href = '@Url.Action("CurrentArticle", "Article", art.Id)'">@art.Title</button>
    }
</ul>