﻿@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <form enctype="multipart/form-data" method="post" asp-action="UserLogged" asp-controller="Home">
        Login:
        <p> <input type="text" name="login" /></p>
        Password:
        <p><input type="text" autocomplete="off" name="password" /> </p>
        <p><input type="submit" value="Login"></p>
    </form>
</div>
